{{extend 'layout.html'}}
<!-- {{ if request.vars.submit :}}
	{{ if request.vars.login == "Admin": }}
		{{ session.login = 1 }}
		{{ session.admin_email = session.token }}
	{{ else: }}
		{{ session.login = 3 }}
		{{ session.faculty_login_email = session.token }}

{{ else: }}
<form name="sp_login" action="sp_check.html" method="get">
   <input type="radio" name="login" value="Admin" />Admin<br />
   <input type="radio" name="login" value="Faculty" />Faculty<br />
   <input type="submit" name="submit" value="submit"/>
</form>
{{ pass }} -->

