{{extend 'layout.html'}}
{{=var}}
{{=form}}

<table border="0" cellspacing="0">
    <tr><td width="15"></td>
	<td width="80"></td>
	<td width="130" align="center"><font size='3'>{{=(A('Name',_href=URL("myapp",args=['apname',course])))}}</font></td>
	<td width="75" align="center"><font size='3'>RollNo.</font></td>
	<td width="95" align="center"><font size='3'>Program</font></td>
	<td width="70" align="center"><font size='3'>Grade</font></td>
	<td width="70" align="center"><font size='3'>CGPA</font></td>
	<td width="120" align="center"><font size='3'>Previous Experience</font></td>
	</tr>
    <tr>
    {{ for i in records:}}
    <td align="center"><font size='2' color='blue' >{{=(A(i.Applicant.apname,_href=URL("applicant_profile",args=i.Applicant.apemail_id)))}}</font></td>
    	<td align="center"><font size='2' color='blue' > {{=i.Applicant.aprollno}}</font> </td>
		<td align="center"><font size='2' color='blue' > {{ =i.Program.pname}}</font> </td>
		<td align="center"><font size='2' color='blue' >{{ =i.AppliedFor.grade}}</font></td>
		<td align="center"><font size='2' color='blue' >{{ =i.Applicant.apcgpa}}</font></td>
		<td align="center"><font size='2' color='blue' >{{ if( i.Applicant.prev_exp == True): }}Yes{{else:}}No{{pass}}</font></td>
		</tr>
    {{ pass }}
        </table>
