{{extend 'layout.html'}}
<div class="content_heading">SELECT THE TAs TO BE REMOVED FOR THIS PARTITCULAR COURSE</div>
<div class="form simple">
<form method="POST" id="confirm" action="">
<table>
    <tr>
        <td>UNSELECT</td>
        <td>COURSE NAME</td>
        <td>TA TYPE</td>
        <td>APPLICANT NAME</td>
        <td>APPLICANT ROLL NO.</td>
        <td>APPICANT MOBILE NO.</td>
        <td>STATUS</td>
        
    </tr>
{{for i in r:}}
    <tr>
        <td><input type="checkbox" name="{{=i.SelectedTA.id}}" /></td>
        <td>{{=i.Course.cname}}</td>
        <td>{{=i.SelectedTA.TAtype}}</td>
        <td>{{=i.Applicant.apname}}</td>
        <td>{{=i.Applicant.aprollno}}</td>
        <td>{{=i.Applicant.phoneno}}</td>
        <td>{{if i.SelectedTA.flag==1 :}} Accept {{elif  i.SelectedTA.flag==0 :}} Pending{{pass}}<td>    
    </tr>
{{pass}}
</table>

<INPUT type="submit" value="Submit" />

<input type="hidden" name="_formname" value="confirm" />
</form>
</div>
