{{extend 'layout.html'}}
<div class="content_heading">UPDATE DATABASE</div>
<div class="content_font">
The file should be in the following format
<ul>
<li>It should be a text file with info of one course on one line. </li>
<li>The info should be in this order: Course Name, Course Id, Credits, Full/Half sem,No. of Faculty, each faculty Name, EmailID </li>
<li>Each field should be separated by a comma(','). </li>
<li>Example: Computer Programming, ICS101, 5, Full,2, faculty11, faculty1@iiit.ac.in , faculty2 , faculty2@iiit.ac.in </li>
</ul>
</div>
<div class="form">{{=form}}</div>
