
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>IMPORTANT</title>
</head>
<body>

<p align="left"><font color="#ff0000"><font size="2"><br>
</font><b>IMPORTANT</b></font></p>
<p align="left"><font color="#000000">This web site requires a browser version
of Microsoft® Internet Explorer version 4.01 and up&nbsp; or Netscape Navigator®
version 4.0 and up, with Javascript enabled setting.</font>
<p align="left"><font color="#000000">The latest browser versions can be
downloaded from <a href="http://simplythebest.net/essentials.html">here</a>.<br>
<br>
The webmaster</font></p>

</body>

</html>
