@font-face {
	font-family: 'Designer_block';
	src: url('font/Designer_Block.eot');
	src: url('font/Designer_Block.eot?#iefix') format('embedded-opentype'),
	url('font/Designer_Block.woff') format('woff'),
	url('font/Designer_Block.ttf') format('truetype'),
	url('font/Designer_Block.svg') format('svg');
}


body{
	/*background: rgba(177,177,177,1);*/
	font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, "sans-serif;";
	font-size:.8em;
	text-align:center;
}
@-moz-document url-prefix() {
	body {
		font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, "sans-serif";
	font-weight:200; }
}
#notification {
	margin-left:auto;
	margin-right:auto;
	/*background: rgba(177,177,177,1);*/
	width:100%;
	height:auto;
	text-align:center
}
h1{
	color:white;
	margin:0px;
	font-weight:normal;
	font-size:1.9em;
	text-align:center
}
#h{
	padding:5px;
	width:200px;	
	background-color:#0099FF;
	/*border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
}
h2{
	margin:0px;
	font-weight:normal;
	font-size:1.7em;
	text-align:center
	padding:5px;
	color:#ffffff;
	transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-ms-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	-webkit-transition: background-color .2s ease-out;
}
table{
	margin-left:auto;
	margin-right:auto;
	align:center;
	/*	max-width:620px;*/
	overflow:hidden;
}
.tab1{
	width:100%;
	/*border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;*/
	/*background:#00495C;*/
	background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	color:white;
	margin-left:auto;
	margin-right:auto;
	/*	margin-top:5px;
	margin-bottom:5px;*/
}
.info {
	display:none;
	font-size:1em;
}
button{
	font-family: Tahoma, Geneva, sans-serif;
	height:30px;
	width:600px;
	border:none;
	margin:1px;    
	border-radius:3px;
	-moz-border-radius:3px;  
	-webkit-border-radius:3px;
	background:#BABABA;
}
button:hover{
	background:rgba(135, 135, 127, 1);
}
#tabs{
	/*background:rgba(203, 203, 197, 1);*/
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.open{
	width:15px;
	height:15px;
	font-size:.7em;
	text-align:center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.para{
	font-size:1.2em;
	width:500px;
	margin:0px auto;
}
p:hover{background: #b1f275;}
h2:hover
{
	color:#fff;
	background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);

}
.subtab{
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #e5e5e5;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.detailinfo{
	margin:1px 0px;
}
